.desk {
    padding: 30px;

    .card {
        width: 25%;
        display: flex;
        background: linear-gradient(135deg, #89CFF0, #4070ec);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        color: white;

        .label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .name {
                margin: 0;
                padding: 0;
                font-weight: 500;
                font-size: 24px;
            }
        }

        .value {
            flex-grow: 1;
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 30px;
            padding: 20px;
        }
    }
}